@use "sass:color";
@use "../../styles/_vars.scss" as *;
@use "../../styles/_mixins.scss" as *;

.alert {
  padding: 10px;
  border-radius: $borderRadiusSmall;

  &.red {
    background-color: color.scale($red, $lightness: +50%);
    color: color.scale($red, $lightness: -50%);;
  }

  &.green {
    background-color: color.scale($green, $lightness: +50%);
    color: color.scale($green, $lightness: -50%);
  }
}
